{% ckan_extends %}

    {% block footer_content %}
	<div class="row">
	<div class="col-md-4">
			<div class="span8 footer-links">
				<ul class="unstyled">
					<li><a href="/pages/nutzungsbedingungen">Nutzungsbedingungen</a></li>
					<li><a href="/pages/glossar">Glossar</a></li>
					<li><a href="/pages/hilfe">Hilfe</a></li>
					<li><a href="/pages/links">Links</a></li>
				</ul>
			</div>
	</div>
	<div class="col-md-4 middle">
		<div class="headline"><h3>Kontakt</h3></div>
			<p>OpenData-Portal der Landeshauptstadt M&uuml;nchen</p>
			<ul class="unstyled">
				<li><a href="/pages/portal"> &Uuml;ber das Portal</a></li>
				<li><a href="/pages/impressum">Impressum - Datenschutzerkl&auml;rung</a></li>
				<li>Kontakt: <a href="mailto:data.opengov@muenchen.de">data.opengov@muenchen.de</a> </li>
				<li style="margin-top:10px;"><a href="http://www.muenchen.de/eogovernment" alt="E- und Open-Government München" title="E- und Open-Government München"><img src="/images/eoGov.png" alt="eGovernment Image" title="eGovernment"/></a></li>
			</ul>

	</div>

	<div class="col-md-4 attribution">
		<div class="headline"><h3>&nbsp;</h3></div>
			 {% snippet "snippets/language_selector.html" %}

		<div class="footer-links">
	<ul class="unstyled">
			 <li>
				<a class="hide-text" href="http://www.ckan.org">
	  				<img src="/images/logo_64px_wide.png" width="64" title="CKAN" alt="CKAN" /> 
				</a>
			</li>

			<li>
				<a href="https://www.okfn.de" title="OKFN">
					<img style="margin-top: 10px;"  src="/images/open-data.png" width="150" title="Open Data Logo" alt="Open Data Logo"/>
				</a>
			</li>
	</ul>
		</div>
	</div>
	</div>
       {% if c.userobj %}
          RPM-Release v39
       {% endif %}


    {% endblock %}
